.container {
    width: 90%;
    margin: 0 auto;
    height: 70%;

    .users {
        width: 100%;
        margin: 10px 0;
        display: flex;
        align-items: center;

        .imgWrapper {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 5px;

            img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
        }
    }

    .messages {
        width: 100%;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        height: 500px;

        .wrapper {
            width: 100%;
            margin: 10px 0;

            &_mine {
                width: 100%;
                display: flex;
                margin: 10px 0;
                justify-content: flex-end;

                .message {
                    display: flex;
                    height: 100%;
                    align-items: center;

                    .imgWrapper {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-position: center;
                            object-fit: cover;
                        }
                    }

                    .content {
                        height: 100%;
                        padding: 10px;
                        background-color: #E4E6EB;
                        border-radius: 10px;
                        margin-right: 10px;
                    }
                }
            }


            .message {
                display: flex;
                height: 100%;
                align-items: center;

                .imgWrapper {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }
                }

                .content {
                    height: 100%;
                    padding: 10px;
                    background-color: #E4E6EB;
                    border-radius: 10px;
                    margin-left: 10px;
                }
            }
        }
    }

    .send {
        display: flex;
        margin-top: 10px;
        position: absolute;
        bottom: 10px;
        width: 90%;

        input {
            width: calc(900px + 4vmin);
            font-size: 15px;
            padding: 0 10px;
        }

        .sendBtn {
            background-color: #E4E6EB;
            padding: 10px;
            border-radius: 10px;
            margin: 0 10px;
            cursor: pointer;

            &:hover {
                background-color: rgb(198, 213, 213);
            }
        }
    }
}