.container {
    //width: 17%;
    height: 100%;
    background-color: #f6f7fb;
    .header {
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        padding: 15px 10px;
        align-items: center;
        position: relative;
        .title {
            width: 90%;
            height: 100%;
            font-weight: bold;
        }
        .arrowWrapper {
            background-color: white;
            padding: 2px;
            border-radius: 50%;
            border: 1px solid #e3e3e4;
            position: absolute;
            left: 225px;
            cursor: pointer;
            &:hover {
                width: 30px;
                border-radius: 99em;
                background-color: #0073ea;
                color: white;
                left: 210px;
            }
        }
    }
    .search {

    }
    .openNav {
        background-color: white;
            padding: 2px;
            border-radius: 50%;
            border: 1px solid #e3e3e4;
            position: absolute;
            top: 10px;
            left: 110px;
            cursor: pointer;
            &:hover {
                width: 30px;
                border-radius: 99em;
                background-color: #0073ea;
                color: white;
                left: 110px;
            }
    }
}