.container {
    width: 60%;
    //background-color: aqua;
    margin: 0 auto;
    .name {
        display: flex;
        align-items: center;
        padding: 10px;
        font-weight: 600;
        font-size: 23px;
    }
    .table {
        width: 100%;
        text-align: center;
        border: 1px solid rgb(188, 187, 187);
        border-radius: 5px;
        font-size: calc(7px + 1vmin);
        font-weight: 500;
        .header {
            width: 100%;
            display: flex;
            border-bottom: 1px solid rgb(188, 187, 187);
            .taskName {
                width: 25%;
                padding: 10px 0;
            }
            .taskInfo {
                width: 15%;
                padding: 10px 0;
                border-left: 1px solid rgb(188, 187, 187);
            }
        }
        .add {
            width: 100%;
            text-align: left;
            color: rgb(188, 187, 187);
            padding: 10px;
        }
    }
}